a.button {
	font-family: 'Lato Bolder', 'Lato', sans-serif;
	font-weight: bolder;
	color: white;
	margin: 32px 0;
	display: inline-block;
	padding: 8px 24px;
	background: linear-gradient(-60deg, #FFBF85, #FF6EAB);
	border-radius: 20px;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

	&.secondary {
		background: linear-gradient(-60deg, #FF72AE, #8F75FF);
	}

	&:hover {
		opacity: .85;
		text-decoration: none;
		box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
	}

	&:active {
		transform: scale(.95);
		box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
	}
}