.buttons {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 720px; }
  .buttons a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #91a6ff;
    transition: 0.2s;
    width: 25%;
    max-width: 80px; }
    .buttons a:hover {
      color: #01e7cf;
      text-decoration: none; }
  .buttons .circle {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3a3584, #3a185b);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: 0.2s;
    width: 100%;
    height: 0;
    padding-bottom: 100%; }
    .buttons .circle img {
      height: 40px;
      width: 40px;
      margin-top: 100%; }
    .buttons .circle:hover {
      transform: scale(1.2); }

@media only screen and (max-width: 400px) {
  .buttons {
    font-size: 14px; }
    .buttons a {
      width: 50%;
      max-width: 128px;
      margin-bottom: 32px; } }
