.buttons {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 720px; }
  .buttons a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #91A6FF;
    transition: .2s; }
    .buttons a:hover {
      color: #01E7CF;
      text-decoration: none; }
  .buttons .circle {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background: linear-gradient(#3A3584, #3A185B);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: .2s; }
  .buttons .circle img {
    height: 40px; }
  .buttons .circle:hover {
    transform: scale(1.2); }
