.contact h3 {
  line-height: 2.5rem; }

.contact .email {
  margin-top: 16px;
  font-weight: 900;
  font-family: 'Lato Black', 'Lato', sans-serif;
  line-height: 3rem;
  font-size: 28px; }

.contact .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 64px; }
  .contact .social i {
    margin: 0 32px;
    transition: .2s; }
    .contact .social i:hover {
      transform: scale(1.2); }
