@import url("https://fonts.googleapis.com/css?family=Lato");

::selection {
  background-color: #01e7cf;
  color: #2a345b;
}

html,
body {
  color: #c7d1ff;
  line-height: 1.5rem;
  font-size: 16px;
  font-family: "Lato Regular", "Lato", sans-serif;
  font-weight: 500;
  min-height: 300vh;
  overflow-x: hidden;
}

html {
  background: linear-gradient(#2a345b, #7d4b7a, #4d889b, #2a345b);
}

body {
  background-image: url("./assets/overlay.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}

h3 {
  font-size: 32px;
  font-family: "Lato Black", "Lato", sans-serif;
  font-weight: 900;
  margin-bottom: 32px;
  line-height: 2.5rem;
}

a {
  color: #01e7cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.gradient-text {
  color: white;
  background: -webkit-linear-gradient(-60deg, #458dff, #01e7cf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text.secondary {
  background: -webkit-linear-gradient(-60deg, #ffbf85, #ff6eab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  padding: 16px;
  box-sizing: border-box;
}

main section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 256px);
  box-sizing: border-box;
  padding-bottom: 192px;
}
@media only screen and (min-width: 720px) {
  html,
  body {
    font-size: 18px;
  }
}
