/* Stylesheet by Manaus Transez */

@import url('https://fonts.googleapis.com/css?family=Lato');
::selection {
	background-color: #01E7CF;
	color: #2A345B;
}

html,
body {
	color: #c7d1ff;
	line-height: 1.5rem;
	font-size: 16px;
	font-family: 'Lato Regular', 'Lato', sans-serif;
	font-weight: 500;
	min-height: 300vh;
	overflow-x: hidden;
}

html {
	background: linear-gradient(#2A345B, #7D4B7A, #4D889B, #2A345B);
}

body {
	background-image: url('../assets/overlay.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	margin: 0;
}

h3 {
	font-size: 32px;
	font-family: 'Lato Black', 'Lato', sans-serif;
	font-weight: 900;
	margin-bottom: 32px;
}

a {
	color: #01E7CF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.button {
	font-family: 'Lato Bolder', 'Lato', sans-serif;
	font-weight: bolder;
	color: white;
	margin: 32px 0;
	display: inline-block;
	padding: 8px 24px;
	background: linear-gradient(-60deg, #FF72AE, #8F75FF);
	border-radius: 20px;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

a.button:hover {
	opacity: .85;
	text-decoration: none;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
}

a.button:active {
	transform: scale(.95);
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

.gradient-text{
	color:white;
	background: -webkit-linear-gradient(-60deg, #458DFF, #01E7CF);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gradient-text.secondary {
	background: -webkit-linear-gradient(-60deg, #FFBF85, #FF6EAB);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
nav {
	z-index: 100;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0));
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

nav img {
	height: 32px;
	width: 32px;
	opacity: .75;
	margin-right: 16px;
}

nav .name {
	font-size: 18px;
	color: white;
	opacity: .75;
}

nav a {
	font-family: 'Lato Black', 'Lato', sans-serif;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #91A6FF;
	text-decoration: none;
}

nav a:hover {
	color: #eee;
	text-decoration: none;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../assets/stars.svg');
	background-size: contain;
	background-repeat: repeat;
	background-position: top center;
	height: 100vh;
}

header .img img,
header .intro {
	position: absolute;
	text-align: center;
	transition: 0s;
}

header .intro {
	z-index: 2;
	top: 20%;
	left: 0;
	right: 0;
}

header .img {
	z-index: 1;
}

.planet1 {
	opacity: .7;
	height: 100px;
	width: 100px;
	top: 15%;
	left: 5%;
	filter: hue-rotate(0deg);
}

.planet2 {
	height: 300px;
	width: 300px;
	bottom: -5%;
	right: -15%;
	filter: hue-rotate(140deg);
}

.shootingstar {
	height: 100px;
	width: 200px;
	top: 0;
	left: -200px;
	opacity: .2;
	animation: shootingstar 8s infinite linear;
}

.down {
	position: absolute;
	bottom: 80px;
	color: #01E7CF;
	font-size: 24px;
	animation: bounce 2.5s infinite linear;
}

@keyframes bounce {
	0%,
	30%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-16px);
	}
	40% {
		transform: translateY(-8px);
	}
}

@keyframes shootingstar {
	0% {
		top: 0;
		left: -200px;
	}
	25% {
		top: 700px;
		left: 1300px;
	}
	100% {
		top: 700px;
		left: 1300px;
	}
}

header .picture {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
	background-image: url('../assets/manaus.png');
	background-position: top;
	background-size: cover;
	margin: 24px auto;
}

header .picture:active {
	transform: scale(3);
}

header h1 {
	font-family: 'Lato Black', 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 24px;
	font-weight: bolder;
}

header h2 {
	font-family: 'Lato Light', 'Lato', sans-serif;
	font-size: 18px;
	font-weight: lighter;
}

main {
	padding: 16px;
	box-sizing: border-box;
}

main section{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 256px);
	box-sizing: border-box;
	padding-bottom: 256px;
}

.about p {
	margin: 0;
}

.about .buttons {
	padding-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 720px;
}

.buttons a {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #91A6FF;
	transition: .2s;
}

.buttons a:hover {
	color: #01E7CF;
	text-decoration: none;
}

.circle {
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	width: 64px;
	background: linear-gradient(#3A3584, #3A185B);
	box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	transition: .2s;
}

.circle img {
	height: 32px;
}

.circle:hover {
	transform: scale(1.2);
}

.projects .imgs{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.imgs img{
	max-width: 256px;
	width: 50%;
}

@media only screen and (min-width: 720px) {
	html,
	body {
		font-size: 18px;
	}
	.planet1 {
		top: 15%;
		left: 15%;
	}
	.planet2 {
		bottom: 0;
		right: 5%;
	}
	.shootingstar {
		animation: shootingstar 13s infinite linear;
	}
	@keyframes shootingstar {
		0% {
			top: -100px;
			left: 200px;
		}
		25% {
			top: 1000px;
			left: 2500px;
		}
		100% {
			top: 1000px;
			left: 2500px;
		}
	}
	main {
		padding: 16px 64px;
	}
	main .practical {
		flex-direction: row;
	}
	.about .buttons {
		margin: 0 auto;
		max-width: 50%;
	}
	.buttons a {
		margin: 0 32px;
	}
	.practical .text {
		max-width: 50%;
	}
	.practical img {
		max-width: 512px;
		box-sizing: border-box;
		margin-left: 32px;
	}
}